#freelikes {
    a {
        text-decoration: underline;
        color: #333333;
    }
}




.form-control {
    width: 100%;
    border-radius: 3px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #ccc;


}