$font: "Roboto", sans-serif;
$bgr-banner: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$text-color:#333333;
$bgray:#f8f9fa;
$bgrauth:#EDF2F9;
$height-header:55px;
$font-size:12px;
$color-primary:#FFA500;
